---
import Container from "../Container.astro";
import plane from "../../assets/icons/plane.svg";
import boat from "../../assets/icons/boat.svg";
import truck from "../../assets/icons/truck.svg";
import courier from "../../assets/icons/package.svg";

const services = [
    {
        icon: plane,
        title: "Transporte Aéreo",
        subtitle: "Conectamos destinos",
    },
    {
        icon: boat,
        title: "Transporte Marítimo",
        subtitle: "Movemos el mundo",
    },
    {
        icon: truck,
        title: "Transporte Terrestre",
        subtitle: "Entregamos confianza",
    },
    {
        icon: courier,
        title: "Courier",
        subtitle: "Rapidez y seguridad",
    },
];
---

<div
    class="absolute
        left-0
        bottom-0
        w-full
        translate-y-1/2
        z-20"
>
    <Container>
        <div
            class="bg-(--color-black)
                rounded-xl
                shadow-2xl
                px-10
                py-10
                grid
                grid-cols-4
                gap-10"
        >
            {
                services.map((service) => (
                    <div class="flex items-center justify-center gap-3">
                        <img
                            src={service.icon.src}
                            alt={service.title}
                            class="w-14.5 h-12.25 object-contain"
                        />
                        <div>
                            <h3 class="text-white font-semibold text-[14px]">
                                {service.title}
                            </h3>

                            <p class="text-white/70 text-[14px] font-light">
                                {service.subtitle}
                            </p>
                        </div>
                    </div>
                ))
            }
        </div>
    </Container>
</div>
