---
import Container from "../Container.astro";
---

<Container
    class="flex items-center justify-center md:justify-start min-h-screen md:min-h-screen"
>
    <div class="max-w-xl text-center md:text-left">
        <h2 class="uppercase font-bold text-white text-[14px]">
            Logistica internacional con atención personal
        </h2>

        <h3 class="font-bold text-[36px] md:text-[46px] leading-tight mt-2">
            Conectamos <br />
            <span class="text-(--color-accent)">lo que importa</span>
        </h3>

        <p class="text-[14px] font-light mt-5 mb-7 max-w-md mx-auto md:mx-0">
            Soluciones logísticas internacionales aéreas, marítimas y
            terrestres, con la confianza, el profesionalismo y el compromiso que
            tu negocio necesita.
        </p>

        <a
            href="#contact"
            class="inline-flex items-center justify-center border border-white text-[14px] px-8 py-4 rounded-md font-semibold text-white hover:bg-white hover:text-(--color-primary) transition"
        >
            Hablar con un especialista
        </a>
    </div>
</Container>
