@import "tailwindcss";
*{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

:root {
  --color-primary: #041736;
  --color-secondary: #1175fc;
  --color-accent: #b82b37;
  --color-black: #0d0c0b;

  --color-white: #ffffff;

  --color-text: #0d0c0b;
  --color-text-light: #ffffff;

  --color-background: #ffffff;
  --color-background-dark: #041736;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 18s linear infinite;
}