---
import Layout from "../layouts/Layout.astro";
import HeroContent from "../components/Hero/HeroContent.astro";
import HeroServices from "../components/Hero/HeroServices.astro";
import Services from "../components/Services/Services.astro";
import Container from "../components/Container.astro";
import ProcessContent from "../components/Process/ProcessContent.astro";
import CultureContent from "../components/Culture/CultureContent.astro";
import ContactContent from "../components/Contact/ContactContent.astro";
---

<Layout>
    <section id="hero">
        <!-- background and gradient -->
        <div
            class="bg-cover bg-center"
            style="background-image: url('/hero.png');"
        >
            <div
                class="bg-[linear-gradient(to_right,rgba(8,21,40,1)_0%,rgba(8,21,40,0.8)_30%,rgba(28,75,142,0.4)_55%,transparent_100%)]"
            >
                <HeroContent />
                <HeroServices />
            </div>
        </div>
    </section>

    <section id="services" class="bg-white">
        <Services />
    </section>

    <Container class="bg-(--color-primary)">
        <div
            class="py-10 flex flex-col md:flex-row items-center md:items-center justify-between gap-10 md:gap-16"
        >
            <div class="max-w-md p-5 text-center md:text-left">
                <h3
                    class="text-white text-[24px] md:text-[28px] font-bold leading-tight"
                >
                    30 años de experiencia en logística internacional
                </h3>

                <p class="mt-4 text-white/90 text-[14px] leading-relaxed">
                    Nuestro compromiso, trayectoria y red global nos permite
                    ofrecer soluciones confiables, ágiles y personalizadas.
                </p>
            </div>

            <div
                class="grid grid-cols-3 md:flex items-start md:items-center gap-6 md:gap-0 text-center"
            >
                <div class="px-0 md:px-8">
                    <h4
                        class="text-(--color-accent) text-[32px] md:text-[40px] font-bold leading-none"
                    >
                        30+
                    </h4>

                    <p class="mt-2 text-white text-[14px] leading-tight">
                        Años de trayectoria
                    </p>
                </div>

                <div class="hidden md:block h-20 w-px bg-white/30"></div>

                <div class="px-0 md:px-8">
                    <h4
                        class="text-(--color-accent) text-[20px] md:text-[24px] font-bold leading-none"
                    >
                        Red global
                    </h4>

                    <p class="mt-2 text-white text-[14px] leading-tight">
                        Agentes en el exterior
                    </p>
                </div>

                <div class="hidden md:block h-20 w-px bg-white/30"></div>

                <div class="px-0 md:px-8">
                    <h4
                        class="text-(--color-accent) text-[20px] md:text-[24px] font-bold leading-none"
                    >
                        Respuesta rápida
                    </h4>

                    <p class="mt-2 text-white text-[14px] leading-tight">
                        Atención personalizada
                    </p>
                </div>
            </div>
        </div>
    </Container>

    <section id="process" class="bg-white">
        <ProcessContent />
    </section>

    <div class="bg-cover bg-center" style="background-image: url('/hero.png');">
        <div
            class="py-10 bg-[linear-gradient(to_right,rgba(8,21,40,1)_0%,rgba(8,21,40,0.8)_30%,rgba(28,75,142,0.2)_50%,rgba(8,21,40,0.8)_70%,rgba(8,21,40,1)_100%)]"
        >
            <Container class="flex items-center justify-between">
                <div class="max-w-sm">
                    <h3 class="font-bold text-[24px] mb-5">
                        ¿Necesitas importar o exportar mercadería?
                    </h3>
                    <p class="text-[14px]">
                        Te acompañamos en cada paso para que tu operación sea
                        simple, segura y eficiente.
                    </p>
                </div>
                <a
                    href="#contact"
                    class="inline-flex mt-5 items-center bg-(--color-accent) justify-center text-[14px] px-6 py-4 rounded-md font-semibold text-white hover:bg-red-600 transition"
                >
                    Solicitar Cotización
                </a>
            </Container>
        </div>
    </div>

    <section id="culture" class="bg-white">
        <CultureContent />
    </section>

    <section id="contact">
        <!-- Fondo -->
        <div
            class="bg-cover bg-center"
            style={`background-image: url('/contact.png')`}
        >
            <!-- Overlay -->
            <div
                class="bg-[linear-gradient(to_right,rgba(8,21,40,1)_0%,rgba(8,21,40,0.85)_30%,rgba(28,75,142,0.3)_55%,rgba(8,21,40,0.85)_70%,rgba(8,21,40,1)_100%)]"
            >
                <ContactContent />
            </div>
        </div>
    </section>
</Layout>
