---
interface Props {
    eyebrow: string;
    title: string;
    description?: string;
    align?: "left" | "center";
    text_color?: "dark" | "light";
}

const {
    eyebrow,
    title,
    description,
    align = "center",
    text_color = "dark",
} = Astro.props;

const isCentered = align === "center";
---

<div
    class:list={["max-w-3xl", isCentered ? "mx-auto text-center" : "text-left"]}
>
    <span
        class="block text-[16px] font-bold uppercase tracking-wide text-(--color-accent)"
    >
        {eyebrow}
    </span>

    <h2
        class:list={[
            "mt-3 text-[28px] font-bold leading-tight",
            text_color == "dark" ? "text-black" : "text-white",
        ]}
    >
        {title}
    </h2>

    {
        description && (
            <p
                class:list={[
                    "mt-4 text-[16px] leading-relaxed max-w-2xl ",
                    isCentered && "mx-auto",
                    text_color === "dark" ? "text-black/70" : "text-white",
                ]}
            >
                {description}
            </p>
        )
    }
</div>
