---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroContent from "../components/Hero/HeroContent.astro";
import HeroServices from "../components/Hero/HeroServices.astro";
import Services from "../components/Services/Services.astro";
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-slate-950 text-white">
		<Header />

		<main>
			<section id="hero">
				<div
					class="bg-cover bg-center"
					style="background-image: url('/hero.png');"
				>
					<div
						class="bg-[linear-gradient(to_right,rgba(8,21,40,1)_0%,rgba(8,21,40,0.8)_30%,rgba(28,75,142,0.4)_55%,transparent_100%)]"
					>
						<HeroContent />
						<HeroServices />
					</div>
				</div>
			</section>
			<section id="services" class="bg-white">
				<Services />
			</section>
			<section id="experience"></section>
			<section id="process"></section>
			<section id="coverage"></section>
			<section id="culture"></section>
			<section id="cta"></section>
			<section id="contact"></section>
		</main>

		<Footer />
	</body>
</html>
